/* Author: Paul Selle */

/* Extra small */
@media(min-width: 320px) and (max-width: 575px) { /* 400 */
    .container {
        width: 300px !important;
        height: 300px !important;
        margin: auto !important;
    }

    #id-pic {
        width: 100px !important;
        height: 100px !important;
        border-radius: 50px;
        margin-top: 15px !important;
    }

    h1 {
        margin-top: 10px !important;
        font-size: 16pt !important;
    }

    h2 {
        font-size: 11pt !important;
    }

    h3 {
        font-size: 9pt !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 400px !important;
        height: 400px !important;
        margin: auto !important;
    }

    #id-pic {
        width: 150px !important;
        height: 150px !important;
        border-radius: 75px;
        margin-top: 25px !important;
    }

    h1 {
        font-size: 18pt !important;
    }

    h2 {
        font-size: 14pt !important;
    }
}

@media (min-width: 576px) and (max-width: 645px) {
    .container {
        width: 400px !important;
        height: 400px !important;
    }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 500px !important;
        height: 500px !important;
    }
}

/* Landing page */
html {
    height: 100%;
}


/* Main page */
body {
    /*background-color: #eee;*/
    /*background-image: url("../img/blur-back.jpg");*/
    background-image: url("../img/background-code.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Roboto" !important;
    height: 100%;
    margin: 0;
    color: #bbb;
}

.container {
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    padding-top: 15px;
    margin-top: 0;
    width: 500px;
    height: 500px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
}

#id-pic {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 50px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 1) inset;
}

h1 {
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 0;
}

h2 {
    font-size: 15pt;
    margin-top: 0;
    margin-bottom: 10px;
}

h3 {
    font-size: 10pt;
    margin-top: 0;
    margin-bottom: 0;
}

#enter-website {
    width: 100px;
    height: 40px;
    line-height: 33px;
    border-radius: 10px;
    border: 3px solid #008fb3;
    background-color: #222;
    color: #008fb3;
    margin-left: calc(50% - 50px);
    margin-top: 20px;
    font-weight: bold;
    font-family: font-family: "Roboto";
}

#enter-website:hover {
    color: #bbb;
    border: 3px solid #bbb;
    cursor: pointer;
}

#enter-website:active {
    border: 5px solid #bbb;
}
