.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 7px;
}

.flat-slider.ui-slider {
  border: 0;
  background: #97c6cb;
  border-radius: 7px;
}

.flat-slider.ui-slider-horizontal {
  height: 8px;
}

.flat-slider.ui-slider-vertical {
  height: 15em;
  width: 8px;
}

.flat-slider .ui-slider-handle {
  width: 0px;
  height: 0px;
  background: #4fbe86;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -0px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -0px;
}

.flat-slider .ui-slider-handle:hover {
  opacity: .8;
}

.flat-slider .ui-slider-range {
  border: 0;
  border-radius: 7;
  background: #408fa0;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 8px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 8px;
}
