/* Author: Paul Selle */

/* Extra small */
@media(min-width: 320px) and (max-width: 575px) { /* 400 */
    .container {
        margin: 0 !important;
    }

    #id-pic {
        width: 180px !important;
        height: 180px !important;
        margin-left: calc(50% - 90px) !important;
    }

    #id-text {
        margin-top: 40px !important;
        text-align: center;
    }

    #social-row ul li {
        display: inline;
        padding: 0 10px !important;
    }

    .col-map {
        margin-left: 10% !important;
        width: 80% !important;
        padding-top: 30px !important;
    }

    #map {
        float: left !important;
        margin-left: calc(50% - 90px) !important;
    }

    .cover-front, .cover-back {
        width: 100% !important;
        height: 60px !important;
    }

    .cover-front img {
        margin-left: calc(50% - 25px) !important;
        top: 5px !important;
        width: 50px !important;
        height: 50px !important;
    }

    #front-content .col-sm-6.col-xs-6 {
        margin-top: 10px !important;
    }

    .cover-back img {
        margin-left: calc(50% - 25px) !important;
        top: 5px !important;
        width: 50px !important;
        height: 50px !important;
    }



    #front-content {
        margin-left: 0 !important;
    }

    #front-content div img.domain {
        display: none;
    }

    #front-content .col-sm-6.col-xs-6 {
        width: 100%;
    }

    /* Flipper content */
    .cover-back {
        width: 90px;
        height: 100%;
        background-color: #1abc9c;
        border-radius: 3px;
    }

    .cover-back img {
        position: absolute;
        width: 70px;
        height: 70px;
        margin-left: 9px;
        top: calc(50% - 35px);
    }

    .comp-table tr td {
        padding: 3px;
    }

    .comp-img {
        margin: 0 !important;
        border-radius: none !important;
        border: none !important;
        width: 20px !important;
        height: 20px !important;
    }

    .comp-name {
        font-weight: bold;
        font-size: 13px !important;
        width: 144px !important;
    }

    .comp-skill {
        padding-left: 10px !important;
    }

    .flat-slider {
        width: 80px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        margin: 0 !important;
    }

    .col-map {
        padding-top: 30px !important;
    }

    #id-pic {
        width: 300px !important;
        height: 300px !important;
        margin-left: calc(50% - 150px) !important;
    }

    #id-text {
        margin-top: 40px !important;
        text-align: center;
    }

    #front-content div img.domain {
        border-radius: 30px !important;
        border: 3px solid #fff;
        margin-top: 40px;
        width: 60px !important;
        height: 60px !important;
        margin-left: calc(50% - 30px) !important;
        margin-bottom: 20px;
    }

    /* Flipper content */
    .cover-back {
        width: 90px;
        height: 100%;
        background-color: #1abc9c;
        border-radius: 3px;
    }

    .cover-back img {
        position: absolute;
        width: 70px;
        height: 70px;
        margin-left: 9px;
        top: calc(50% - 35px);
    }

    .comp-table tr td {
        padding: 3px;
    }

    .comp-img {
        margin: 0 !important;
        border-radius: none !important;
        border: none !important;
        width: 32px !important;
        height: 32px !important;
    }

    .comp-name {
        font-weight: bold;
        font-size: 14px !important;
    }

    .comp-skill {
        padding-left: 10px !important;
    }

    .flat-slider {
        width: 80px !important;
    }
}

@media (min-width: 576px) and (max-width: 645px) {
    .flat-slider {
        width: 55px !important;
    }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
    .col-map {
        padding-top: 10px !important;
    }

    #id-text {
        margin-top: 40px !important;
    }

    #id-text h1 {
        font-size: 50px;
    }

    #id-text h2 {
        font-size: 35px;
    }

    #map {
        width: 250px !important;
        height: 250px !important;
    }
}

/* Large */
@media (min-width: 1200px) {
    #map {
        width: 300px !important;
        height: 300px !important;
    }

    .col-map {
        padding-top: 0px !important;
    }

    #id-text {
        margin-top: 65px !important;
    }

    #id-text h1 {
        font-size: 50px;
    }

    #id-text h2 {
        font-size: 35px;
    }
}

/* Landing page */
html {
    height: 100%;
}

/* Main page */
body {
    /*background-color: #eee;*/
    /*background-image: url("../img/blur-back.jpg");*/
    background-image: url("../img/background-code.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Roboto" !important;
}

.container {
    padding: 0 !important;
    padding-bottom: 20px;
    /*background-color: #ddd;*/
    background-color: rgba(230,230,230,0.96);
    border-radius: 5px;
    /*border: 1px solid #bbb;*/
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px !important;
}

.top {
    margin-top: 50px;
    border-radius: 5px 5px 0 0 !important;
    padding-bottom: 50px !important;
}

.bottom {
    margin-bottom: 50px;
    border-radius: 0 0 5px 5px !important;
}

.container.card {
    background-color: #444;
    border-radius: 0 !important;
    padding: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
}

hr {
    margin-top: 60px;
    margin-bottom: 70px;
    border: 0 !important;
    height: 1px !important;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.navbar {
    width: 100% !important;
    border-radius: none;
}

.navbar-fixed {
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    border-radius: 0px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    /*width: 100%;*/
}

.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #111;
}

.navbar-inverse .navbar-nav > .active > a {
    border-bottom: 3px solid #408fa0;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > a:hover {

}

.nav.navbar-nav.settings {
    float: right;
    text-align: right;
}

.nav.navbar-nav.settings li a:hover {
    cursor: pointer;
    border-bottom: 3px solid #408fa0;
}

.nav.navbar-nav li a:hover {
    cursor: pointer;
    border-bottom: 3px solid #408fa0;
}

.nav.navbar-nav li a {
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    border-top: 3px solid rgba(0, 0, 0, 0);
}

.navbar-header {
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    border-top: 3px solid rgba(0, 0, 0, 0);
}

#id-pic {
    width:80%;
    height: auto;
    margin: 0 auto;
    border-radius: calc(100%/2);
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
    /*border: 6px solid #ddd;*/
}

#id-row {
    padding-top: 40px;
    padding-bottom: 40px;
}

#id-text {
    margin-top: 20px;
}

#social-row ul li {
    display: inline;
    padding: 0 30px;
}

#social-row ul {
    padding: 0 !important;
}

#social-row {
    text-align: center;
}

#social-row img {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

#social-row img:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    cursor: pointer;
}


h1, h2 {
    font-family: "Roboto" !important;
}

/* Summary */
#brief {
    text-align: justify;
}

.col-map {
    padding-top: 70px;
}

/* Flip animation */
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 1) inset;
    background-image: url("../img/code-back.jpg");
}

/* flip the pane when hovered */
.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: calc(100% - 20px);
    height: 480px;
    margin: 10px;
    border-radius: 3px;
}

/* flip speed goes here */
.flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 460px !important;
    /*padding: 20px;*/
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    background-color: #ddd;
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color: #ddd;
}

#flip {
    display: none;
}

.front .container-fluid {
    height: 100%;
}

.front .container-fluid .row {
    height: 100%;
}


/* Flipper content */
.cover-front {
    float: left;
    width: 90px;
    height: 100%;
    background-color: #408fa0;
    border-radius: 3px;
}

.cover-front img{
    position: absolute;
    width: 70px;
    height: 70px;
    margin-left: 9px;
    top: calc(50% - 35px);
}

.back .container-fluid {
    height: 100%;
}

.back .container-fluid .row {
    height: 100%;
}

#front-content {
    margin-left: 90px;
}

#front-content div img.domain {
    border-radius: 35px;
    border: 3px solid #fff;
    margin-top: 40px;
    width: 70px;
    height: 70px;
    margin-left: calc(50% - 35px);
    margin-bottom: 20px;
}




/* Flipper content */
.cover-back {
    width: 90px;
    height: 100%;
    background-color: #1abc9c;
    border-radius: 3px;
}

.cover-back img{
    position: absolute;
    width: 70px;
    height: 70px;
    margin-left: 9px;
    top: calc(50% - 35px);
}

.comp-table tr td {
    padding: 3px;
}

.comp-div {
    text-align: center;
    margin: auto;
}

.comp-table {
    display: inline-table;
}

.comp-img {
    margin: 0 !important;
    border-radius: none !important;
    border: none !important;
    width: 32px;
    height: 32px;
}

.comp-name {
    font-weight: bold;
    font-size: 16px;
    text-align: left !important;
}

.comp-skill {
    padding-left: 10px !important;
}

.flat-slider {
    width: 120px;
}

#switch-div {
    text-align: center;
    margin: auto;
    color: #ecf0f1;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz';
}

#switch-div table {
    display: inline-table;
}

#switch-div table tr td {
    vertical-align: bottom;
}

#switch {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}

/* Contact */

#contact {
  padding: 20px;
  padding-top: 50px;
}

#contact p {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
}

#contact h1 {
    text-align: center;
    margin-bottom: 30px;
}

textarea {
    resize: vertical;
}

#send {
    width: 100%;
    margin: 0 auto;
}

#copyright {
    color: #888;
    padding-top: 100px;
    width: 100%;
    text-align: center;
}

#dl-resume {
    margin-top: 60px;
    margin-bottom: 60px;
    /*width: 100%;*/
}

#map {
    /*float: right;*/
    width: 180px;
    height: 180px;
    border: 5px solid white;
    border-radius: 3px;
}

#bot-avatar {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 170px;
    height: 170px;
    background-image: url("../img/avatar2.png");
    background-size: contain;
}

#bot-greeting {
    display: none;
    font-size: 10pt;
    position: fixed;
    right: 60px;
    bottom: 150px;
    width: 200px;
    height: 150px;
    background-image: url("../img/bubble1.png");
    background-size: contain;
    padding: 15px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 35px;
}

#close-bubble {
    position: absolute;
    top: 15px;
    right: 32px;
}

#close-bubble:hover {
    cursor: pointer;
}

#bot-avatar:hover {
    cursor: pointer;
}

#chat {
    position: fixed;
    width: 300px;
    height: 500px;
    max-height: 500px;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 20, 20, 0.9);
    border-radius:  15px 15px 5px 5px;
    border: 3px solid white;
    overflow: hidden;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
}

#chat-user {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
}

#chat-text-input {
    width: 100%;
    padding-right: 40px;
}

#send-bot {
    /*width: 15%;*/
    position: absolute;
    padding: 0;
    bottom:0;
    right: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#chat-msgs {
    position: absolute;
    bottom: 45px;
    font-size: 10pt;
    overflow-y: auto;
    max-height: 90%;
}

#chat-msgs::-webkit-scrollbar {
    display: none;
}

.msg-div {
    width: 100%;
    height: auto;
    min-height: 40px;
    overflow: hidden;
}

.msg-text {
    color: #fff;
    position: relative;
    min-height: 40px;
    max-width: 60%;
    padding: 7px;
    margin: 4px 10px 4px 10px;
    /*margin-top: 5px;
    margin-bottom: 5px;*/
    border-radius: 7px;
}

.bot-msg {
    background-color: #4286f4;
    margin-right: 50px;
}

.bot-pic {
    position: absolute;
    margin-top: 3px;
    width: 40px;
    height: 40px;
    right: 5px;
}

.bot-msg {
    float: right;
}

.user-msg {
    background-color: #72bf3f;
}

.user-msg {
    float: left;
}
